.header,
.cover,
.lots,
.about,
.footer {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка сайта */
.header {
  height: 293px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header-menu {
  justify-self: start;
}

.header-menu-list {
  display: flex;
  gap: 32px;
}

.logo-black {
  justify-self: center;
}

.logo-black-image {
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
}

.address a {
  display: block;
}

/* Секция cover */
.cover {
  height: 757px;
  padding: 165px 50px 50px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover-title,
.description {
  position: relative;
  z-index: 2;
}

.cover-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 30%;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
}

.cover-description-subline {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.button {
  padding: 12px 32px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

/* Секция лотов */
.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots-header {
  margin-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots-frames-list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.lots-frames-list li {
  flex: 1;
}

.lots-frames-list a {
  display: block;
  height: 100%;
}

.frame-film,
.frame-book,
.frame-painting {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 596px;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.frame-title,
.frame-text {
  position: relative;
  z-index: 2;
}

.frame-film {
  background-image: url(../images/card-lot-01.jpg);
}

.frame-book {
  background-image: url(../images/card-lot-02.jpg);
}

.frame-painting{
  background-image: url(../images/card-lot-03.jpg);
}

.frame-title {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.frame-text{
  font-size: 20px;
  line-height: 120%;
}

.more-link {
  display: block;
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}


/* Секция about */
.about {
  margin-top: 120px;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.logo-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.logo-white-image {
  width: 148px;
  height: 114px;
}

.about-column {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about-title {
  margin-top: 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about-column p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.about-column p:last-child {
  margin-bottom: 0;
}

/* Подвал сайта */
.footer {
  height: 180px;
  margin-top: 180px;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
}

.footer .address {
  justify-self: start;
}

.footer-menu {
  justify-self: center;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.socials-list img {
  width: 48px;
  height: 48px;
}